

.b-page {
    font-family: Arial, serif;
    width:100%;
    margin:0;

}


.b-page__head-line{
    width:100%;
}
.b-page__line-black{
    background: black;
    color: #F9F0DA;
    box-shadow: 0px 0px 15px 5px #000;
}

.b-page__line{

    margin: 100px 30px 250px;
    background: white;
    color: black;

}

.b-page__footer{
    background: url(../images/background-food.jpg) no-repeat 100% 15%;
    background-size: 100%;
    color: #F9F0DA;
}

.heading{
    text-transform: uppercase;
    font-family: "Arial Black", serif;
    font-weight: bold;
    font-stretch: semi-condensed;
}

.b-page__line-header{
    height:560px;
    background:black url(../images/back2.jpg) no-repeat 100% 10%;
    background-size: 100%;
    box-shadow: 0px 0px 15px 5px #000;
}

.b-head__heading{

    margin-left: auto;
    margin-right: auto;
    padding: 7%;
}

.heading__header{
    font-family: 'Cormorant', serif;
    color: #F9F0DA;
    font-style: italic;
    text-align: center;
    font-weight: 600;
    font-size:3rem;
    padding: 1% 0;
    box-shadow: 0px 0px 15px 5px #000;
}


.b-head__form{
    float: right;

}



.form__header {
    background: transparent;
    position: relative;
    width: 200px;
}
.input__form, .button__form {
    outline: none;
    background: transparent;
}
.input__form {
    width: 96%;
    height: 42px;
    border: 2px solid #F9F0DA;
}
.button__form {
    border: none;
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: #F9F0DA;
}


.b-menu
{
    position: fixed;
    margin:0;
    padding:0;
    list-style:none;
    width:100%;
    display:table;
    table-layout: auto;
    box-shadow: 0px 0px 5px 2px black;

}

.menu__item
{
    text-align:center;
    color:white;
    cursor:pointer;
    font-size:14px;
    height:38px;
    background-color: black;
    line-height:38px;
    border-top: 1px solid #F9F0DA;
    display:table-cell;

}


a{
    text-decoration: none;
}

.menu__link{
    color: #F9F0DA;
}

.link__social{
    color: #F9F0DA;
}

.menu__item_active
{
    color: beige;
    background-color: black;
    border-top:1px solid #F9F0DA;
    text-decoration: underline;
}


.b-page__line-first{
    width: 100%;
}

@media  (min-width: 800px) {
    .b-section {
        float: left;
        width: 70%;
    }

    .b-article {
        margin-left: 70%;

    }
}

.event__article{
    text-align: center;
    padding: 2%;
    margin: 4%;
}



.blockquote__section{
    text-align:center;
    border-bottom: 2px inset black;
    padding-top: 15px;
    padding-bottom: 50px;
    font-size: 1.2rem;

}

.cite__blockquote{
    text-align:right;
}

.img__team{
    box-shadow: 0px 0px 25px 15px #000;
}


.figcaption__team{
    font-style: italic;
    position: center;
    padding-top: 4%;
    font-size: 1.3rem;
    font-weight: bold;
}

.team__section{
    margin-right: 50%;
    margin-left: 50%;
}
.figure__team-1{
    grid-area: figure__team-1

}

.figure__team-2{
    grid-area: figure__team-2

}

.figure__team-3{
    grid-area: figure__team-3

}

.figure__team-4{
    grid-area: figure__team-4

}

.figure__team-5{
    grid-area: figure__team-5

}
.figure__team-6{
    grid-area: figure__team-6

}


@media (min-width: 724px) and (max-width: 1083px){
    .container {
        display: grid;
        gap: 50px;
        height: 180vh;
        grid-template-areas: "heading heading"
                            "figure__team-1 figure__team-2"
                            "figure__team-3 figure__team-4"
                            "figure__team-5 figure__team-6";
        grid-template-rows: 50px repeat(4, 1fr);
        grid-template-columns: repeat(2, 1fr);

    }
}


@media (orientation: landscape) and (min-width: 1084px) {
    .container {
        display: grid;
        gap: 50px;
        height: 800px;
        grid-template-areas: "heading heading heading"
                            "figure__team-1 figure__team-2 figure__team-3"
                            "figure__team-4 figure__team-5 figure__team-6";
        grid-template-rows: 50px repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);

        /* ! */
        align-content: center;
    }
}

.float_clear{
    clear:both
}


@media (max-width: 747px) {
    .footer_logo {
        margin-right: auto;
        margin-left: auto;
    }

    .social__footer {
        padding: 50px;
        float: left;
    }
}

@media (min-width: 748px) {
    .footer_logo {
        float: right;
    }

    .social__footer {
        padding: 50px;
        float: left;
    }
}

.text__social{
    font-style: italic;
}

.link__social{
    cursor: pointer;
}